In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
import statistics
import math
from scipy.stats import poisson,skellam

world_cup_matches = pd.read_csv("C:\\Users\\ianfr\\Documents\\dev\\inteligencia-computacional\\dataset\\results.csv")
world_cup_matches['year'] = world_cup_matches['date'].str[:4].astype(int)
world_cup_matches['month'] = world_cup_matches['date'].str[5:7].astype(int)
world_cup_matches['day'] = world_cup_matches['date'].str[8:].astype(int)
world_cup_matches = world_cup_matches[['home_team', 'home_score', 'away_score', 'away_team', 'tournament', 'year', 'month', 'day']]
world_cup_matches = world_cup_matches[(world_cup_matches.year) >= 2014]

world_cup_matches = world_cup_matches[~(world_cup_matches.year >= 2019)]
world_cup_matches = world_cup_matches[~((world_cup_matches.year == 2018) & (world_cup_matches.month >= 7))]
world_cup_matches = world_cup_matches[~((world_cup_matches.year == 2018) & (world_cup_matches.month == 6) & (world_cup_matches.day >= 14))]

wc_teams = ['Russia', 'Brazil', 'Australia', 'Iran', 'Japan', 'Saudi Arabia', 'South Korea', 'Egypt', 'Morocco', 'Nigeria', 'Senegal', 'Tunisia', 'Costa Rica', 'Mexico', 'Panama', 'Argentina', 'Colombia', 'Peru', 'Uruguay', 'Belgium', 'Croatia', 'Denmark', 'England', 'France', 'Germany', 'Iceland', 'Poland', 'Portugal', 'Serbia', 'Spain', 'Sweden', 'Switzerland']
wc_teams.sort()
#world_cup_matches = world_cup_matches[world_cup_matches.home_team.isin(teams) | world_cup_matches.away_team.isin(teams)]
world_cup_matches.head()

,home_team,home_score,away_score,away_team,tournament,year,month,day
35750,Kuwait,1,2,Jordan,WAFF Championship,2014,1,1
35751,Bahrain,0,1,Jordan,WAFF Championship,2014,1,4
35752,Namibia,0,1,Ghana,Friendly,2014,1,4
35753,Nigeria,2,1,Ethiopia,Friendly,2014,1,4
35754,Qatar,3,0,Kuwait,WAFF Championship,2014,1,4

In [2]:
world_cup_matches.describe()

        home_score   away_score         year        month          day
count  4112.000000  4112.000000  4112.000000  4112.000000  4112.000000
mean      1.561527     1.107977  2015.749270     6.857490    14.837305
std       1.558901     1.365209     1.267303     3.184908     9.030586
min       0.000000     0.000000  2014.000000     1.000000     1.000000
25%       0.000000     0.000000  2015.000000     5.000000     7.000000
50%       1.000000     1.000000  2016.000000     6.000000    13.000000
75%       2.000000     2.000000  2017.000000    10.000000    23.000000
max      15.000000    20.000000  2018.000000    12.000000    31.000000

In [3]:
teams2 = world_cup_matches['home_team'].unique().tolist()
teams3 = world_cup_matches['away_team'].unique().tolist()
tournaments = world_cup_matches['tournament'].unique().tolist()
print(tournaments)
game_weight = {'Friendly': 1, 'FIFA World Cup qualification': 2.5, 'AFC Asian Cup qualification': 2.5*0.85,
               'UEFA Euro': 3, 'African Cup of Nations qualification': 2.5*0.85, 'Copa América': 3, 'WAFF Championship': 3*0.85,
               'Windward Islands Tournament': 3*0.85, 'AFC Challenge Cup': 3*0.85, 'Baltic Cup': 3, 'CFU Caribbean Cup qualification': 2.5*0.85,
               'CONIFA World Football Cup': 3*0.85, 'EAFF Championship': 3*0.85, 'AFF Championship': 3*0.85, 'CFU Caribbean Cup': 3*0.85,
               'Gulf Cup': 3*0.85, 'ABCS Tournament': 3*0.85, 'COSAFA Cup': 3*0.85, 'CONIFA European Football Cup': 3*0.85, 
               'CECAFA Cup': 3*0.85, 'SAFF Cup': 3*0.85, 'Kirin Cup': 3*0.85, "King's Cup": 3*0.85, 'World Unity Cup': 3*0.85, 'Intercontinental Cup': 3*0.85,
               'UNCAF Cup': 3*0.85, 'UEFA Euro qualification': 2.5, 'AFC Asian Cup': 3*0.85, 'Gold Cup qualification': 2.5*0.85,
               'Gold Cup': 3*0.85, 'Oceania Nations Cup qualification': 2.5*0.85, 'Copa América qualification': 2.5,
               'UEFA Nations League': 3, 'Oceania Nations Cup': 3*0.85, 'Confederations Cup': 3, 'Island Games': 3*0.85,
               'African Nations Championship': 3*0.85, 'African Cup of Nations': 3*0.85, 'FIFA World Cup': 4}

teams = list(set(teams2).union(set(teams3)))
data = {'Team': teams, 'AttackForce': [0 for i in range(len(teams))], 'DefenseForce': [0 for i in range(len(teams))]}
stats = pd.DataFrame(data)

for time in teams:
    team_goals = 0.0
    conceded_goals = 0.0
    team_matches = 0.0
    local_team_matches = 0.0
    time_model = world_cup_matches[(world_cup_matches['home_team'] == time) | (world_cup_matches['away_team'] == time)]
    #print(time_model)
    
    for index, row in time_model.iterrows():
        if row['home_team'] == time or row['away_team'] == time:
            local_team_matches += 1
            
    if local_team_matches <= 10:
        stats = stats[stats['Team'] != time]
        world_cup_matches = world_cup_matches[world_cup_matches['home_team'] != time]
        world_cup_matches = world_cup_matches[world_cup_matches['away_team'] != time]
        continue
    
    for index, row in time_model.iterrows():
        match_time = 2018 - row['year']
        time_factor = math.exp(-(match_time)/3)
        #print(time_factor)
        game_weight_factor = game_weight[row['tournament']]

        #print(game_weight_factor)
        if row['home_team'] == time:
            team_goals += row['home_score'] * time_factor * game_weight_factor
            conceded_goals += row['away_score'] * time_factor * game_weight_factor
            
            #if time == 'Brazil':
            #    print(conceded_goals, row['away_score'], time_factor, game_weight_factor)

        elif row['away_team'] == time:
            team_goals += row['away_score'] * time_factor * game_weight_factor
            conceded_goals += row['home_score'] * time_factor * game_weight_factor
            
            #if time == 'Brazil':
            #    print(conceded_goals, row['home_score'], time_factor, game_weight_factor)
            
        team_matches += 1
        
    
    if conceded_goals != 0 and team_goals != 0:
        stats.loc[stats['Team'] == time, 'AttackForce'] = team_goals/(team_matches)
        stats.loc[stats['Team'] == time, 'DefenseForce'] = (team_matches/(conceded_goals))
    else:
        #print(time)
        stats = stats[stats['Team'] != time]
        world_cup_matches = world_cup_matches[world_cup_matches['home_team'] != time]
        world_cup_matches = world_cup_matches[world_cup_matches['away_team'] != time]
    
stats2 = stats.set_index('Team')

print(stats2)

world_cup_matches['HomeAttack'] = [0.0 for i in range(len(world_cup_matches))]
world_cup_matches['HomeDefence'] = [0.0 for i in range(len(world_cup_matches))]
world_cup_matches['AwayAttack'] = [0.0 for i in range(len(world_cup_matches))]
world_cup_matches['AwayDefence'] = [0.0 for i in range(len(world_cup_matches))]

for index, row in world_cup_matches.iterrows():
    #print(stats2.loc[row['home_team'], 'AttackForce'])
    world_cup_matches.loc[index,'HomeAttack'] = (stats2.loc[row['home_team'], 'AttackForce']) #- statistics.mean(stats2['AttackForce'])) / statistics.stdev(stats2['AttackForce'])
    world_cup_matches.loc[index,'HomeDefence'] = (stats2.loc[row['home_team'], 'DefenseForce']) #- statistics.mean(stats2['DefenseForce'])) / statistics.stdev(stats2['DefenseForce'])
    world_cup_matches.loc[index,'AwayAttack'] = (stats2.loc[row['away_team'], 'AttackForce']) #- statistics.mean(stats2['AttackForce'])) / statistics.stdev(stats2['AttackForce'])
    world_cup_matches.loc[index,'AwayDefence'] = (stats2.loc[row['away_team'], 'DefenseForce']) #- statistics.mean(stats2['DefenseForce'])) / statistics.stdev(stats2['DefenseForce'])
world_cup_matches.head()

['WAFF Championship', 'Friendly', 'African Nations Championship', 'AFC Asian Cup qualification', 'African Cup of Nations qualification', 'Windward Islands Tournament', 'AFC Challenge Cup', 'Baltic Cup', 'CFU Caribbean Cup qualification', 'CONIFA World Football Cup', 'FIFA World Cup', 'EAFF Championship', 'UNCAF Cup', 'UEFA Euro qualification', 'AFF Championship', 'CFU Caribbean Cup', 'Gulf Cup', 'AFC Asian Cup', 'African Cup of Nations', 'ABCS Tournament', 'FIFA World Cup qualification', 'Gold Cup qualification', 'COSAFA Cup', 'Copa América', 'CONIFA European Football Cup', 'Island Games', 'Gold Cup', 'Oceania Nations Cup qualification', 'CECAFA Cup', 'SAFF Cup', 'Copa América qualification', 'Oceania Nations Cup', 'Kirin Cup', "King's Cup", 'UEFA Euro', 'World Unity Cup', 'Confederations Cup', 'Intercontinental Cup']
                       AttackForce  DefenseForce
Team
Yemen                     0.641149      0.965227
Gibraltar                 0.327360      0.243241
Thailand                  1.425333      0.731099
Iceland                   1.484581      0.970801
Portugal                  2.095647      1.327550
Guyana                    1.381526      0.865154
Dominican Republic        1.459177      0.852402
Barawa                    2.497130      0.141801
Sweden                    1.470153      1.271261
Argentina                 1.755479      1.224903
Nepal                     0.710172      0.755313
Niger                     0.882843      0.793223
East Timor                0.481173      0.321083
Saint Kitts and Nevis     0.821088      1.079469
Fiji                      1.146120      0.674102
Maldives                  1.638790      0.441013
Qatar                     1.256759      1.098196
Algeria                   1.922656      0.745362
South Sudan               1.109382      0.454009
Macau                     1.278064      0.513563
Sudan                     0.830194      0.915160
Serbia                    1.352433      1.039708
Padania                   3.725882      0.745848
Gabon                     0.619218      1.121542
Ukraine                   1.197754      1.230815
Tajikistan                1.385449      0.651367
Brazil                    2.038721      1.394730
Malawi                    0.634345      1.143742
Senegal                   1.601187      1.683369
Antigua and Barbuda       0.547552      1.017417
...                            ...           ...
Mauritius                 0.792952      0.468237
Norway                    1.223946      0.876592
South Korea               1.314114      1.188357
Kenya                     1.080015      1.040692
São Tomé and Príncipe     0.609902      0.374950
South Africa              1.412805      1.153022
Egypt                     1.169074      1.341468
Scotland                  1.453406      0.965999
Haiti                     1.260075      0.570756
Israel                    1.144914      0.600643
Madagascar                1.755597      0.812602
Jamaica                   0.985420      0.735220
Djibouti                  0.441879      0.262352
Mali                      1.029628      1.026243
Uganda                    0.990704      1.345789
Jordan                    1.316810      1.496055
Laos                      1.002188      0.453345
Canada                    0.959426      0.956430
Comoros                   0.728555      0.760980
Australia                 1.974307      0.816117
Bahrain                   1.012333      1.549923
Mozambique                1.163618      0.680525
Palestine                 2.001673      1.319018
French Guiana             1.271617      0.775856
Montenegro                1.330323      0.812663
Northern Ireland          1.216028      1.343500
Singapore                 0.696166      0.825677
Slovenia                  1.144797      1.076535
Iraq                      1.024339      1.093307
China PR                  1.400148      0.960295

[197 rows x 2 columns]

,home_team,home_score,away_score,away_team,tournament,year,month,day,HomeAttack,HomeDefence,AwayAttack,AwayDefence
35750,Kuwait,1,2,Jordan,WAFF Championship,2014,1,1,0.687966,1.153624,1.316810,1.496055
35751,Bahrain,0,1,Jordan,WAFF Championship,2014,1,4,1.012333,1.549923,1.316810,1.496055
35752,Namibia,0,1,Ghana,Friendly,2014,1,4,1.140754,0.837757,1.340735,1.141456
35753,Nigeria,2,1,Ethiopia,Friendly,2014,1,4,1.306653,1.023473,1.339779,0.683585
35754,Qatar,3,0,Kuwait,WAFF Championship,2014,1,4,1.256759,1.098196,0.687966,1.153624

In [4]:
stats2.describe()

       AttackForce  DefenseForce
count   197.000000    197.000000
mean      1.231863      0.862718
std       0.572655      0.321911
min       0.159783      0.141801
25%       0.890714      0.640304
50%       1.182987      0.834890
75%       1.453406      1.040692
max       5.144801      2.109607

In [5]:
for team in wc_teams:
    print(team, "Attack: " + str(stats2.loc[team, 'AttackForce']), "Defense: " + str(stats2.loc[team, 'DefenseForce']))

Argentina Attack: 1.7554790323731644 Defense: 1.2249029818520858
Australia Attack: 1.9743067855761471 Defense: 0.8161168406748368
Belgium Attack: 2.5939475467999857 Defense: 1.346983685268839
Brazil Attack: 2.038720845475761 Defense: 1.3947295052533237
Colombia Attack: 1.4363398482079937 Defense: 1.0917196811202066
Costa Rica Attack: 1.2799780298722923 Defense: 0.8991809216359717
Croatia Attack: 1.5928578470437904 Defense: 1.3325193174888177
Denmark Attack: 1.5981854425301059 Defense: 1.3820572797970434
Egypt Attack: 1.1690743285760843 Defense: 1.3414676162258643
England Attack: 1.5672575025088575 Defense: 1.7514442103505772
France Attack: 1.7181016420146316 Defense: 1.4514924722062679
Germany Attack: 2.647324140148785 Defense: 1.2504605738389192
Iceland Attack: 1.4845809079218533 Defense: 0.9708010664166611
Iran Attack: 1.505085420607814 Defense: 2.109607001598906
Japan Attack: 1.8727137972574381 Defense: 1.0445126013837083
Mexico Attack: 1.688724563870439 Defense: 0.9037205700763682
Morocco Attack: 2.0351211236520736 Defense: 1.7230432222361336
Nigeria Attack: 1.3066530787731883 Defense: 1.0234730871050524
Panama Attack: 1.2348568147311492 Defense: 0.7592922827928087
Peru Attack: 1.6010245288550393 Defense: 1.0013274967562902
Poland Attack: 2.1578155859371875 Defense: 1.0189109650150225
Portugal Attack: 2.0956470738767115 Defense: 1.3275495587009396
Russia Attack: 1.0836066448079673 Defense: 1.019872160005595
Saudi Arabia Attack: 1.660959474855052 Defense: 0.9221728137268643
Senegal Attack: 1.6011867772619712 Defense: 1.6833690985642284
Serbia Attack: 1.3524328907379144 Defense: 1.039708361692906
South Korea Attack: 1.3141143600208127 Defense: 1.1883567457810835
Spain Attack: 2.2825891726168 Defense: 1.5783378783584487
Sweden Attack: 1.4701534794714572 Defense: 1.2712611848079471
Switzerland Attack: 1.8897436426103922 Defense: 1.3333437748947763
Tunisia Attack: 1.541598309077531 Defense: 1.0124033132330714
Uruguay Attack: 1.4334389974514354 Defense: 0.8680358769933826

In [6]:
def get_team_stats(team, return_df=False):
    attack = stats2.loc[team, 'AttackForce']
    defence = stats2.loc[team, 'DefenseForce']

    return [attack, defence]

def simulate_goals(team_pred, game, a_team='A Team', b_team='B Team', verbose=False):
    a_goals = 0
    b_goals = 0
    outcome = 0

    random_event = np.random.random()
    #print(random_event)
    counter = 0


    for index, row in pd.DataFrame(data=game).iterrows():
        for x in range(len(row)):
            counter += row[x]
            
            a_goals = index
            b_goals = x
            
            if counter > random_event:
                break
        if counter > random_event:
            break
    
    if verbose == True:
        print('Random float: {}'.format(random_event))
        print('{} goals: {}'.format(a_team, str(a_goals)))
        print('{} goals: {}\n'.format(b_team, str(b_goals)))
    
    return a_goals, b_goals

def show_game_summary(game, team_pred, a_team='A Team', b_team='B Team', verbose=False):
    a_team_odds = np.sum(np.tril(game, -1))
    b_team_odds = np.sum(np.triu(game, 1))
    draw_odds = np.sum(np.diag(game))
    
    if verbose == True:
        print('{} chance of Win: {}%'.format(a_team, round(a_team_odds*100, 2)))
        print('{} chance of Win: {}%'.format(b_team, round(b_team_odds*100, 2)))
        print('Odds of a draw: {}%'.format(round(draw_odds*100, 2)))
    
    a_goals, b_goals = simulate_goals(team_pred, game, a_team, b_team, verbose=verbose)
    return a_team_odds, b_team_odds, draw_odds, a_goals, b_goals

# simulacao de uma partida, retornando a matriz que nos interessa
def simulate_match(team_pred, a_team, b_team, max_goals=5, verbose=False):
    game = (np.outer(np.array(team_pred[0]), np.array(team_pred[1])))
    show_game_summary(game, team_pred, a_team, b_team, verbose=verbose)
    return game

In [7]:
def predicao(a_team, b_team, max_goals=5):
    a_team_stats = get_team_stats(a_team)
    b_team_stats = get_team_stats(b_team)
    
    a_att = a_team_stats[0]
    a_def = a_team_stats[1]
    b_att = b_team_stats[0]
    b_def = b_team_stats[1]
    
    a_avg = a_att / b_def
    b_avg = b_att / a_def
    
    #print(a_avg)
    #print(b_avg)
    
    team_pred = [[poisson_distribution(avg, k) for k in range(0, max_goals+1)] for avg in [a_avg, b_avg]]
    
    return team_pred

def poisson_distribution(avg, k):
    
    result = (math.exp(-avg)*(avg**k)) / math.factorial(k)
    
    return result
    
predicao('Brazil', 'Japan')

[[0.14201261369948914,
  0.2771858142123904,
  0.270511096159278,
  0.1759980715540844,
  0.08587999243989852,
  0.03352479052231237],
 [0.2611376746718672,
  0.35063151994687797,
  0.23539778956587046,
  0.10535679420358061,
  0.03536584000637849,
  0.009497195876631972]]

In [8]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import math

goal_model_data = pd.concat([world_cup_matches[['home_team','away_team', 'HomeAttack', 'HomeDefence', 'AwayAttack', 'AwayDefence', 'home_score']].rename(
            columns={'home_team':'team', 'away_team':'opponent', 'HomeAttack':'att', 'HomeDefence': 'defe', 'AwayAttack': 'away_att', 'AwayDefence': 'away_def', 'home_score':'goals'}),
           world_cup_matches[['away_team','home_team', 'AwayAttack', 'AwayDefence','HomeAttack', 'HomeDefence', 'away_score']].rename(
            columns={'away_team':'team', 'home_team':'opponent', 'AwayAttack':'att', 'AwayDefence': 'defe', 'HomeAttack': 'away_att', 'HomeDefence': 'away_def','away_score':'goals'})])

goal_2 = goal_model_data.reset_index(drop=True)

def get_numbers_from_array(array):
    nums = []
    for n in array:
        try:
            nums.append(n[0])
        except:
            nums.append(n)
    return nums

def model_metrics(dataframe):
    yreal = list(dataframe['goals'])
    ypred = []

    for index, row in dataframe.iterrows():
        team_pred = predicao(row['team'], row['opponent'])
        ypred.append(np.argmax(team_pred[0]))
    ypred = get_numbers_from_array(ypred)
    
    rms = math.sqrt(mean_squared_error(yreal, ypred))
    r2 = r2_score(yreal, ypred)
    return rms, r2

metrics = model_metrics(goal_2)
print(metrics)

(1.2998937821715688, 0.11768799962616239)

In [9]:
def compare_accuracy(df):
    count1 = 0

    for index, row in df.iterrows():
        if row['predicted'] == row['goals']:
            count1 += 1
        else:
            continue

    print('Poisson Model: {}% accurate'.format((count1 / len(test_model_df))*100))

poisson_y_pred = []
for index, row in goal_2.iterrows():
        team_pred = predicao(row['team'], row['opponent'])
        poisson_y_pred.append(np.argmax(team_pred[0]))
        
poisson_y_pred = get_numbers_from_array(poisson_y_pred)
#print(poisson_y_pred)
ml_data = [poisson_y_pred]

test_model_df = pd.DataFrame(ml_data, 
                             index=['predicted']).transpose()

test_model_df['goals'] = list(goal_2['goals'])
test_model_df['predicted'] = test_model_df['predicted']
print(goal_2)
print(test_model_df)
compare_accuracy(test_model_df)

               team         opponent       att      defe  away_att  away_def  \
0            Kuwait           Jordan  0.687966  1.153624  1.316810  1.496055
1           Bahrain           Jordan  1.012333  1.549923  1.316810  1.496055
2           Namibia            Ghana  1.140754  0.837757  1.340735  1.141456
3           Nigeria         Ethiopia  1.306653  1.023473  1.339779  0.683585
4             Qatar           Kuwait  1.256759  1.098196  0.687966  1.153624
5           Bahrain           Kuwait  1.012333  1.549923  0.687966  1.153624
6             Qatar           Jordan  1.256759  1.098196  1.316810  1.496055
7          Zimbabwe            Gabon  1.745664  0.960777  0.619218  1.121542
8              Mali          Nigeria  1.029628  1.026243  1.306653  1.023473
9      South Africa       Mozambique  1.412805  1.153022  1.163618  0.680525
10           Uganda     Burkina Faso  0.990704  1.345789  1.307695  0.927871
11         Zimbabwe          Morocco  1.745664  0.960777  2.035121  1.723043
12            Ghana            Congo  1.340735  1.141456  1.132693  0.781837
13            Libya         Ethiopia  1.266012  0.766267  1.339779  0.683585
14         DR Congo       Mauritania  1.689314  0.938620  0.744208  0.797493
15            Gabon          Burundi  0.619218  1.121542  1.171368  1.010007
16          Moldova           Norway  0.415644  0.697293  1.223946  0.876592
17          Nigeria       Mozambique  1.306653  1.023473  1.163618  0.680525
18     South Africa             Mali  1.412805  1.153022  1.029628  1.026243
19     Burkina Faso          Morocco  1.307695  0.927871  2.035121  1.723043
20         Zimbabwe           Uganda  1.745664  0.960777  0.990704  1.345789
21         Ethiopia            Congo  1.339779  0.683585  1.132693  0.781837
22            Ghana            Libya  1.340735  1.141456  1.266012  0.766267
23          Moldova           Sweden  0.415644  0.697293  1.470153  1.271261
24          Burundi       Mauritania  1.171368  1.010007  0.744208  0.797493
25         DR Congo            Gabon  1.689314  0.938620  0.619218  1.121542
26           Norway           Poland  1.223946  0.876592  2.157816  1.018911
27       Mozambique             Mali  1.163618  0.680525  1.029628  1.026243
28     South Africa          Nigeria  1.412805  1.153022  1.306653  1.023473
29     Burkina Faso         Zimbabwe  1.307695  0.927871  1.745664  0.960777
...             ...              ...       ...       ...       ...       ...
7502       Zimbabwe          Lesotho  1.745664  0.960777  0.803020  0.864306
7503     Costa Rica          England  1.279978  0.899181  1.567258  1.751444
7504     Uzbekistan          Uruguay  0.878806  1.313087  1.433439  0.868036
7505        Algeria         Portugal  1.922656  0.745362  2.095647  1.327550
7506        Bolivia      South Korea  0.977215  0.435438  1.314114  1.188357
7507          Ghana          Iceland  1.340735  1.141456  1.484581  0.970801
7508  French Guiana       Guadeloupe  1.271617  0.775856  0.651487  0.741575
7509    New Zealand            India  1.641402  0.737713  2.322341  0.822222
7510        Padania  Northern Cyprus  3.725882  0.745848  5.144801  0.688571
7511   Saudi Arabia          Germany  1.660959  0.922173  2.647324  1.250461
7512        Senegal          Croatia  1.601187  1.683369  1.592858  1.332519
7513          Japan      Switzerland  1.872714  1.044513  1.889744  1.333344
7514           Iran        Lithuania  1.505085  2.109607  0.596462  0.536203
7515          Chile           Poland  1.789677  0.795421  2.157816  1.018911
7516          Kenya   Chinese Taipei  1.080015  1.040692  1.392015  0.343974
7517        Bolivia           Serbia  0.977215  0.435438  1.352433  1.039708
7518         Mexico          Denmark  1.688725  0.903721  1.598185  1.382057
7519           Peru           Sweden  1.601025  1.001327  1.470153  1.271261
7520      Australia          Hungary  1.974307  0.816117  1.228989  0.724180
7521        Morocco          Estonia  2.035121  1.723043  0.859674  0.957286
7522     Azerbaijan           Latvia  0.934481  0.622102  0.869616  0.653090
7523        Belarus          Finland  0.718526  0.695679  0.864736  1.031488
7524          Spain          Tunisia  2.282589  1.578338  1.541598  1.012403
7525  United States           France  1.897747  0.959960  1.718102  1.451492
7526         Brazil          Austria  2.038721  1.394730  1.445668  1.048199
7527          Kenya            India  1.080015  1.040692  2.322341  0.822222
7528        Senegal      South Korea  1.601187  1.683369  1.314114  1.188357
7529     Costa Rica          Belgium  1.279978  0.899181  2.593948  1.346984
7530       Paraguay            Japan  0.989366  0.610953  1.872714  1.044513
7531      Lithuania           Poland  0.596462  0.536203  2.157816  1.018911

      goals
0         1
1         0
2         0
3         2
4         3
5         0
6         2
7         2
8         2
9         3
10        2
11        0
12        1
13        2
14        1
15        0
16        1
17        4
18        1
19        1
20        0
21        0
22        1
23        1
24        3
25        0
26        0
27        1
28        1
29        0
...     ...
7502      0
7503      0
7504      0
7505      0
7506      0
7507      2
7508      2
7509      2
7510      2
7511      1
7512      1
7513      0
7514      1
7515      2
7516      4
7517      1
7518      0
7519      0
7520      2
7521      3
7522      3
7523      0
7524      1
7525      1
7526      3
7527      0
7528      2
7529      1
7530      2
7531      0

[7532 rows x 7 columns]
      predicted  goals
0             0      1
1             0      0
2             0      0
3             1      2
4             1      3
5             0      0
6             0      2
7             1      2
8             1      2
9             2      3
10            1      2
11            1      0
12            1      1
13            1      2
14            2      1
15            0      0
16            0      1
17            1      4
18            1      1
19            0      1
20            1      0
21            1      0
22            1      1
23            0      1
24            1      3
25            1      0
26            1      0
27            1      1
28            1      1
29            1      0
...         ...    ...
7502          2      0
7503          0      0
7504          1      0
7505          1      0
7506          0      0
7507          1      2
7508          1      2
7509          1      2
7510          5      2
7511          1      1
7512          1      1
7513          1      0
7514          2      1
7515          1      2
7516          3      4
7517          0      1
7518          1      0
7519          1      0
7520          2      2
7521          2      3
7522          1      3
7523          0      0
7524          2      1
7525          1      1
7526          1      3
7527          1      0
7528          1      2
7529          0      1
7530          0      2
7531          0      0

[7532 rows x 2 columns]
Poisson Model: 36.74986723313861% accurate

In [10]:
team_pred = predicao('Iran', 'Iraq')
game = simulate_match(team_pred, 'Iran', 'Iraq')
show_game_summary(game, team_pred, 'Iran', 'Iraq', verbose=True)

Iran chance of Win: 58.89%
Iraq chance of Win: 13.03%
Odds of a draw: 27.79%
Iran goals: 0
Iraq goals: 0

(0.5888999046911393, 0.1302820946096077, 0.2778554173186071, 0, 0)

In [11]:
pd.DataFrame(game)

          0         1         2         3         4         5
0  0.155331  0.075423  0.018311  0.002964  0.000360  0.000035
1  0.213835  0.103829  0.025208  0.004080  0.000495  0.000048
2  0.147186  0.071468  0.017351  0.002808  0.000341  0.000033
3  0.067541  0.032795  0.007962  0.001289  0.000156  0.000015
4  0.023245  0.011287  0.002740  0.000444  0.000054  0.000005
5  0.006400  0.003108  0.000754  0.000122  0.000015  0.000001

In [24]:
team_pred = predicao('Brazil', 'Japan')
game = simulate_match(team_pred, 'Brazil', 'Japan')
show_game_summary(game, team_pred, 'Brazil', 'Japan', verbose=True)

Brazil chance of Win: 50.19%
Japan chance of Win: 26.08%
Odds of a draw: 21.99%
Brazil goals: 1
Japan goals: 1

(0.5018952973116761, 0.26079195633765484, 0.2198508433291394, 1, 1)

In [13]:
pd.DataFrame(game)

          0         1         2         3         4         5
0  0.037085  0.049794  0.033429  0.014962  0.005022  0.001349
1  0.072384  0.097190  0.065249  0.029203  0.009803  0.002632
2  0.070641  0.094850  0.063678  0.028500  0.009567  0.002569
3  0.045960  0.061710  0.041430  0.018543  0.006224  0.001671
4  0.022427  0.030112  0.020216  0.009048  0.003037  0.000816
5  0.008755  0.011755  0.007892  0.003532  0.001186  0.000318